.header{
  text-align: center;
}
.sub{
  text-align: center;
}
.section{
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 600px;
  margin: auto;
  box-shadow: 5px 5px 10px black;/*--Sombra*/
}
.div{
  text-align: center;
  padding: 9px;
}
.footer{
  text-align: center;
  font-style: italic;
}
