.button {
    background-color: #0070f3;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 11px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 8px;
}

.button:hover {
    background-color: #005bb5;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}